@import 'bootstrap/dist/css/bootstrap.min.css';


:root {
  --primary-color: #BAAE29;
  /* Blue */
  --secondary-color: #2ecc71;
  /* Green */
  --accent-color: #e74c3c;
  /* Red */
  --background-color: #2D3134;
  /* Light Grey */
  --text: #ffffff;
  /* Dark Grey */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}