.landing {
    position: relative;
    overflow: hidden;
    color: var(--text);
    height: 100vh;
}

.text-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.text-content p {
    font-size: 1.5rem;
}

.image-container {
    position: relative;
}

.frame {
    position: relative;
    display: inline-block;
}

.frame img {
    border-radius: 0% 0% 0% 30%;
}

.frame-overlay {
    position: absolute;
    top: -20px;
    /* Adjust based on desired position */
    left: 20px;
    /* Adjust based on desired position */
    width: 100%;
    height: 100%;
    /* Rounded corners */
    background-color: var(--primary-color);
    border-radius: 0% 0% 0% 30%;

    /* Semi-transparent yellow background */
    z-index: -1;
}


.image-wrapper {
    position: relative;

    /* Match with the Image height */
    /* Top rounded corners */
    overflow: hidden;

}

.clientImage {

    /* Ensure this is applied to the img element */
    object-fit: cover;
    /* Ensure the image fits within the rounded corners */

}