.landing {
    height: 100vh;
    /* dark grey */
    color: var(--text);
    align-items: center;
    display: flex;

}

.text-content {
    margin-bottom: 20px;
}

.text-content h1 {
    margin-bottom: 0.5em;
    color: yellow;
    /* yellow accent */
}



.image-container img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}